<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      body {
        background-color: cyan;
      }
      .row {
        width: 70%;
        margin: 0 auto;
      }

      h2 {
        text-align: center;
      }
      table {
        border: 1px solid #ddd;
        margin: 0 auto;
        padding: 0;
      }

      tr {
        border: 1px solid #ddd;
        margin: 0;
      }
      th {
        font-weight: bold;
        font-size: 1.2em;
      }
      th, td {
        text-align: left;
        border: 1px solid #ddd;
        margin: -1px;
       }
       .total {
         text-align: right;
        }
        .total-digit {
          color: red;
          font-size: 2em;
        }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
